/*---------------Reset css----------------*/
* {
    margin : 0;
    padding: 0;
}

/* @font-face {
    font-family: Code;
} */

html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
/*---------------------style page --------------------*/
/* ------------ Navegation Header----------------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(51, 89,256);
    width: 100%;
}

nav ul li{
    padding:  1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: all .3s ease-out;

}

nav ul li a:hover {
    color: #ff01ed;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 30rem;
}

header#banner div {
    width: 100%;
}

/* header#banner div h1 {

} */

section#playlist table {
    border-collapse: collapse;
    width: 100%;

}

