<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Style-->
    <!-- {{ url_for('static', filename='style/style.css') }} não esta funcionando-->
    <link rel="stylesheet" href="./../static/style/style.css">
    <!--Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>BlueMusic | Início</title>
</head>

<body>
    <!--Navegação-->
    <nav>
        <a href="/">
            <!--{{ url_for('static', filename='img/minilogo.png') }}-->
            <img src= "/Blue na pratica/static/img/minilogo.png" alt="">
        </a>

        <ul>
            <li>
                <a href="">Ouvir</a>
            </li>
            <li>
                <a href="">Nova Música</a>
            </li>
        </ul>
    </nav>
    
    <!--Header-->
    <header id="banner">
        <div>
            <h1>
                O que você ouve 
                <i class="fas fa-play-circle"></i>
                enquanto programa ?
            </h1>
            <h2>
                Crie aqui sua própria playlist
            </h2>
        </div>
        <!--{{ url_for('static', filename='img/img-home')}}-->
        <img src="/Blue na pratica/static/img/img-home.png" alt="">
    </header>

    <!--Sessão da playlist-->
    <section id="playlist">
        <h3>Playlist</h3>
        <!--Tabela-->
        <table>
            <thead>
                <!--Titulos da tabela-->
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Artista</th>
                    <th>Player</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <!--Corpo da tabela-->
                <tr>
                    <td>{{musica.nome}}</td>
                    <td>{{musica.nome}}</td>
                    <td>musica.artista</td>                
                    <td>
                        <audio controls src="{{musica.link}}"></audio>
                    </td>  
                    <td>
                        <a href="">Editar</a>
                        <a href="">Apagar</a>
                    </td>              
                </tr>
            </tbody>
        </table>
    </section>

    <!--Rodapé do site-->
    <footer>
        <hr>
        <p>Todos os direitos reservados &copy;<a target="_blank" href="https://blueedtech.com.br/">Blue EdTech</a></p> 
    </footer>
</body>
</html>
