<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlueMusic | Início</title>
    <!--Style-->
    <!-- {{ url_for('static', filename='style/style.css') }} não esta funcionando-->
    <link rel="stylesheet" href="./../static/style/style.css">
    <!--Icons-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!--Navegação-->
    <nav>
        <a href="/">
            <!--{{ url_for('static', filename='img/minilogo.png') }}-->
            <img src= "/Blue na pratica/static/img/minilogo.png" alt="">
        </a>

        <ul>
            <li>
                <a href="">Ouvir</a>
            </li>
            <li>
                <a href="">Nova Música</a>
            </li>
        </ul>
    </nav>
    
    <!--Header-->
    <header id="banner">
        <div>
            <h1>
                O que você ouve enquanto programa ?
            </h1>
            <h2>
                Crie aqui sua própria playlist
            </h2>
        </div>
        <!--{{ url_for('static', filename='img/img-home')}}-->
        <img src="/Blue na pratica/static/img/img-home.png" alt="">
    </header>

    <!--Sessão da playlist-->
    <section id="playlist">
        <!--Tabela-->
        <table>
            <thead>
                <!--Titulos da tabela-->
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Artista</th>
                    <th>Player</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <!--Corpo da tabela-->
                <tr>
                    <td>1</td>
                    <td>Teste</td>
                    <td>Teste</td>                
                    <td>
                        <audio controls src=""></audio>
                    </td>                
                </tr>
            </tbody>
        </table>
    </section>
    <!--Rodapé do site-->
    <footer>
        <hr>
        <p>Todos os direitos reservados</p>
        <a href="https://blueedtech.com.br/">&copy; Blue EdTech</a>
    </footer>
</body>
</html>
